.fixedColumn {
  width: 100%;
}
.details {
  line-height: 0;
  text-align: center;
  vertical-align: middle;
}
.big {
  font-size:20px;
  vertical-align: middle;
  width:130px;
  height: 15px;    
}
.med {
  font-size:14px;
  vertical-align: middle;
}
.AM {
  background-color: rgb(230, 190, 0);
}
.PM {
  background-color: rgb(230, 130, 0);
}
.hour {
  font-size:4em;
}
.interval {
  font-size:2em;
}
.bs-docs-sidenav.affix {
    top: 10px;
}
.ui-selected {
  background-color: #F39814;
  color: #FFF;
}
.ui-selecting {
  background-color: #99CCFF;
}
.scrollable 
{
    height: 100%;
    overflow: auto;
}
.tdItem {
  width:130px;
  height: 15px;  
  vertical-align: middle;
}
.dayHeader {
  width: 130px; 
}
.fixedColumn .fixedTable td
{
  color: #FFFffF;  
  font-weight: normal;  
  line-height: 0;
  height: 37px;
  width:100%;
}
.fixedHead {
  top:0;
}
.fixedHead td, .fixedFoot td
{
  color: #FFFFFF;
  background-color: #187BAF;  
  font-weight: normal;
  padding: 5px;
  border: 1px solid #187BAF;
  height:25px;
}
.fixedTable td
{  
  padding: 5px;
  text-align: left;
  border: 1px solid #CEE7FF;
  height: 5px;
}
.fixedTable {
  width:100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
  display: inline-block;
}
/*
.hide {
  display:none;
}
div.stickyHeader {
  top:0;
  position:fixed;
  _position:absolute;
}
.inner table {
  table-layout: fixed; 
 width:100% 
  *margin-left: -100px;/*ie7*/
/*}
.inner td, tbody th {
  vertical-align: middle;
  border-top: 1px solid #ccc;
  padding:10px;
 width:100%;
  height:20px;  
}
.inner td {
 width:100px; 
  height: 20px;
}

.inner tbody th {
  position:absolute;
  *position: relative; /*ie7*/
  /*left:0; 
  width:100px;
 padding-top:30px; 
}
.outer {
  position:relative;
}
.inner {
  overflow-x:auto;
  overflow-y:auto; 
  margin-left:40px;
}
*/
ul.thumbnails li.span12 {
 margin-left:0px; 
}
.profile-bottom {
   margin-bottom:2px;
  margin-top:5px;
  width:32px;
  height:32px;
}
.profile32 {
  width:24px;
  height:24px;
}
.profile45 {
  width:40px;
  height:40px;
}
/*
.list-item {
 background-color:#ad1d28; 
}
.list-item:hover {
 background-color:#d92432;
}
*/
.people-in-schedule {
  height:39px;
  overflow-y:auto;
  text-align: left;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6+ */
  filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%);
}

li{
list-style: none;
}
.sidenav {
float: left;
}
.sidenav ul{
  width: 80px;

}
.sidenav li{
  text-align: center;
  padding-bottom: 20px;
}
.settingdiv{
  text-align: center;
 
}
/*!
 * Timepicker Component for Twitter Bootstrap
 *
 * Copyright 2013 Joris de Wit
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.bootstrap-timepicker .add-on {
  cursor: pointer;
}
.bootstrap-timepicker .add-on i {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.bootstrap-timepicker-widget.dropdown-menu {
  padding: 2px 3px 2px 2px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
  border-radius: 4px;
}
.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker-widget table td {
  border:0px;
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
  width: 100%;
}
.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker-widget table td a i {
  margin-top: 2px;
}
.bootstrap-timepicker-widget table td input {
  width: 25px;
  margin: 0;
  text-align: center;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}
@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;
  }
  .bootstrap-timepicker .dropdown-menu {
    width: 100%;
  }

.time{
        display:none !important;
  }
}