
<head>
<link href='http://fonts.googleapis.com/css?family=Rokkitt|Oxygen:400,300' rel='stylesheet' type='text/css'>
  <title>FindTime.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- facebook og meta-data -->
    <meta property="og:url" content="http://findtime.co"/>
    <meta property="og:title" content="FindTime"/>
    <meta property="og:image" content="/images/icon75x.png" />
  <link rel='icon' type='image/png' href='/icon16x16.png' />
  <!--[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
    <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8">
        <![endif]-->
        <!--[if IE 8]>
            <html class="no-js lt-ie9">
            <![endif]-->
            <!--[if gt IE 8]>
                <!-->
           <!--<![endif]-->

                    <!--[if lt IE 7]>
                        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                    <![endif]-->
                    <!-- Add your site or application content here -->
                     <meta charset="utf-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
                    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43619080-1', 'findtime.co');
  

</script>                 

</head>
  
<body>  
  {{> body}}
</body>
<!-- body -->
<template name="body">
  {{#constant}}
    <div id="fb-root"></div>
  {{/constant}}
  {{> navigation}}
  
  {{renderPage}}
  {{> modals}}
</template>
<!-- nav -->
<template name="navigation">
     <div id="mainnav" class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content --> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>

                <!-- Be sure to leave the brand out there if you want it shown --> <a class="brand" href="/"><img src="/images/findtimewlogo.png"></a>

                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">
                    <!-- .nav, .navbar-search, .navbar-form, etc -->
                    <ul class="nav">

                                
                                {{#if currentUser}}
                                <li><a href="/">Home</a></li>
                                <li>
                                  <a href="/myschedule">My Schedule</a> 
                                </li>
                                <li> 
                                  <a href="/importer">Import Schedule</a>
                                </li>
                                <!-- <li>
                                  <a href="settings">Settings</a> 
                                </li> -->
                                <li>
                                  <a href="#" id="logout">Log Out</a> 
                                </li>
                              
                            
                                {{else}}
                      
                                 <li><a href="#home">Home</a></li>
                         <li><a href="#about">About</a>

                        </li>
                        <li><a href="#contact">Contact</a>

                        </li>
                                <li>
                                  <a href="#" class="login">Sign in/up</a>
                                </li>
                                {{/if}}
                                
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- Landing Page -->
<template name="loading">
  <div class="container" class="span4 offset4" style="padding-top:45px;">
     <img class="offset4" src="http://www.unfollowspy.com/images/loading.gif" />
     <br />
    <h1>Chill, dude</h1>
  </div>
</template>
<template name="landingPage">
    <div id="home"></div>
    <div id="landing" class="container-fluid">
        <div class="row-fluid">
            <div id="schedule" class="span5 offset1 well media">
                 <img src="images/newSchedule.png" />
            </div>
            <div id="frontmessage" class="span5">
                <article id="frontcontent">
                    <span><p class="vertalign"><img src="images/icons/cocktail64.png" class="vertalign" width="32px" /> Know <i>who</i> you can hang out with and <i>when</i> you can chill.</p></span>
                    <span><p class="vertalign"><img src="images/icons/brief32.png" class="vertalign" width="32px" /> Instant schedule comparison will make scheduling meetings a breeze.</p></span>
                    <span><p><img src="images/icon75x.png" class="vertalign" width="32px"> FindTime to maximize your life.</p></span>
                </article>
            </div>
      </div>

      <div class="row-fluid"> 
           <a href="#" class="login">
                <div id="signupfb"class="span5 offset6 well">
                  <div id="signupfbcontent">Sign Up with Facebook</div>
                </div>
           </a>
      </div>

      <div id="commonwith">
          <p>See what breaks you have in common with {{commonWith}}</p>
      </div>
        
</div>
  
   <div id="about" class="row-fluid">
        <div id="findtime">
            <div id="ftlogo">
                <img src="images/ftlogowhite.png" />
            </div>
            <div id="fttext" class="span10">
                <p class='banner row-fluid'><span class="ftbig span8">FindTime.co</span><span class="ftbighalf pull-right span4"> Open Beta</span></p>
                <p> Make meetings more efficient and hanging out a lot easier</p>
            </div>
        </div>
    </div>
    <div id="instructions" class="row">
        <div id="instructiontitle">How it Works</div>
    </div>
    <div id="instructiontext" class="row-fluid">
        <div id="firstpic" class="pic span4">
            <figure>
                <img src="images/instructions/CreateClass.png">
                <figcaption>Share Your Schedule</figcaption>
            </figure>
        </div>
        <div id="secondpic" class="pic span4">
            <figure>
                <img src="images/instructions/CompareClass.png">
                <figcaption>Compare schedules with friends and groups</figcaption>
            </figure>
        </div>
        <div id="thirdpic" class="pic span4">
            <figure>
                <img src="images/instructions/FindFreeTime.png">
                <figcaption>Find time to meet up and hangout!</figcaption>
            </figure>
        </div>
    </div>
    <div id="contact">
         <h1> Meet the team </h1>

        <div id="members" class="span6 pull-left">
            <!-- team profiles -->
            <div class="row">
                <div id="jaime" class="span2 well">

                        <p>Jaime Young</p>
                        <p>CEO</p>
                        <p>jaimeyoung@findtime.co</p>

                </div>
                <div id="kenley" class="span2 well">

                        <p>Kenley Tan</p>
                        <p>CTO</p>
                        <p>kenleytan@findtime.co</p>

                </div>
            </div>
            <div class="row">
                <div id="luis" class="span2 well">

                        <p>Luis Gan</p>
                        <p>CFO</p>
                        <p>luisgan@findtime.co</p>

                </div>
                <div id="bryan" class="span2 well">

                        <p>Bryan Giger</p>
                        <p>CIO</p>
                        <p>bryangiger@findtime.co</p>

                </div>
            </div>
            <div class="row">
                <div id="erwin" class="span2 well">
                  
                        <p>Erwin Chua</p>
                        <p>Designer</p>
                        <p>erwinchua@findtime.co</p>
                  
                </div>

            </div>
            <div id="foot">For Technical issues, please send an email to support@findtime.co.</div>
        </div>
        <!-- email form -->
        <div id="emailform" class="span6">
            <div class="row"></div>
        </div>
  </div>
</template>
<!-- Settings -->
<template name="myschedule">
    <div class="container-fluid" style="padding-top:40px;">
      <div class="row-fluid">        
      <div class="offset1 span10">
                <div id="schedset">
                         <h1>My Schedule</h1>
                         <h4>Don't worry about losing data, it saves automatically</h4>

                        <div class="span10" id="sched"> 
                          {{> newSched}}
                          <div class="row-fluid">
                            <div class="span2">
                              <a class="btn btn-danger reset">Reset</a>
                            </div>
                            <div class="span1">
                                 <a class="btn btn-primary done">Done</a>
                            </div>
                          </div>
                  </div>
                    
                </div>                
                <!-- <div id="prefset">
                <h1>Personal Preferences</h1>

                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="fullname">Name</label>
                            <div class="controls">
                              <input id="fullname" type="text" value="{{fullname}}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">E-Mail</label>
                            <div class="controls">
                                <input id="email" placeholder="E-mail" type="email" value="{{email}}">
                            </div>
                        </div>
                        <button id="savepref" type="submit" class="btn">Save</button>
                    </form>
                </div> -->
              </div>

                     
                <!-- <div class="span2">
            
                    <ul class="nav nav-list well">
                      <li><a href="#schedset">Schedule</a></li>

                        <li><a href="#prefset">Personal</a> </li>
                    </ul>
          
      </div>
        </div> -->
   </div>
 </div>
</template>
<template name="privatesetting"> 
  <div class="settingdiv">
    <h1>Privacy Matters</h1>
  </div>
</template>
  

<!-- Thanks -->
<template name="thanks">
  <div class="container" style="padding-top:40px;">
      <div class="hero-unit">
        <h1>Welcome to FindTime</h1>
        <!-- <p>We'll keep in touch and send you a message on Facebook when we launch</p> -->
        <p> Please input your class schedule,</p><p> So that your friends know when you're busy.</p>
        <p> Just click and drag on the blocks</p><p> In which you have classes or are busy.</p>   
        <p> It saves everything automatically, </p><p>So you don't have to worry.</p>

      </div>
      <div class="span10 offset1">
      {{> newSched}}       
      <a href="/" class="btn btn-primary">Done</a>
      </div>
  </div>
</template>
<!-- Sign Up -->
<template name="signup">
  <div class="container" style="padding:45px;">
    <div class="row-fluid">
      <div class="span8">
        <div class="well">
          <h3>Is {{$.Session.get 'School'}} your school, {{gender}}?</h3>
            <input type="text" id="select-school" data-provide="typeahead" data-source='["Ateneo de Manila University", "De La Salle University", "University of the Philippines", "University of Santo Thomas", "Other"]' value="{{$.Session.get 'School'}}" />
        </div>
        
      </div>
    </div>
  </div>
</template>
<!-- Home -->
<template name="home">
  <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8 " style="margin-bottom:40px;" id="sched">
          <h1>Compare With Other People's Schedules</h1>          
          {{> schedule}}
        </div>
        <div class="span4 scrollable">
          {{> peopleToAdd}}
          
        </div>
        
      </div>
    </div>
  {{> peopleInSchedule}}
</template>
<template name="newHome">
  <div class="container-fluid" style="padding-top:40px;">
      <div class="row-fluid">
        <div class="span8 " style="margin-bottom:40px;" id="sched">
          <h3>Compare Your Schedule With Your Friends</h3>      
          <div class="row-fluid">
            <div class="span1">
              Free Time
            </div>
            <div class="span10 gradient-guide">
            </div>
            <div class="span1">
              Busy
            </div>
          </div>    
          {{> newSched}}
        </div>
        <div class="span4 scrollable">
          {{> peopleToAdd}}
          
        </div>
        
      </div>
    </div>
  {{> peopleInSchedule}}
</template>

<template name="personalschedule">
              <table id="psched">
                <tbody>
                  <thead>
                    <tr>
                    <th><i class="icon-calendar"></i></th>
                    {{#each daylist}}
                      <!--<td><h4>--><th>{{.}}</th><!--</h4></td> -->
                    {{/each}}  
                    </tr>
                  </thead>  
                   
                  {{#key_value schedules}}
                 
                        <tr>
                       <td rowspan="11">{{key}}</td>
          {{#firstInList value}}
                      
                     
                        <td class='tdItem' > </td>
                        <td class='tdItem' > </td>
                        <td class='tdItem' > </td>
                        <td class='tdItem' > </td>
                        <td class='tdItem' > </td>
                        <td class='tdItem' > </td>
                
          {{/firstInList}}
                  </tr>
                    {{#restOfList value}}
                  
                    {{/restOfList}}
                  

                  {{/key_value}}                 
                </tbody>
                
              </table>
</template>
<!-- Sched -->
<template name="schedule">
  <!--<div class="outer">
            <div class="inner ">-->
              <table>
                <tbody>
                  <thead>
                    <tr>
                    <th>T</th>
                    {{#each daylist}}
                      <!--<td><h4>--><th>{{.}}</th><!--</h4></td> -->
                    {{/each}}  
                    </tr>
                  </thead> 
                   
                  {{#key_value schedules}}
                 
                    <tr>
                    <td rowspan="11">{{key}}</td>
                    {{#firstInList value}}
                      
                        {{#with people}}
                        <td class='tdItem' style='{{getBGStyle Mon}}'><div class='forpopovers' style='{{getFontStyle Mon}}'>{{#each Mon}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Tue}}'><div class='forpopovers' style='{{getFontStyle Tue}}'>{{#each Tue}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Wed}}'><div class='forpopovers' style='{{getFontStyle Wed}}'>{{#each Wed}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Thu}}'><div class='forpopovers' style='{{getFontStyle Thu}}'>{{#each Thu}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Fri}}'><div class='forpopovers' style='{{getFontStyle Fri}}'>{{#each Fri}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Sat}}'><div class='forpopovers' style='{{getFontStyle Sat}}'>{{#each Sat}}{{getName userId}}{{/each}}</div></td>
                        {{/with}}
  
                    {{/firstInList}}
                  </tr>
                    {{#restOfList value}}
                    <tr>
                    <td>{{key}}</td>
  
                        {{#with people}}
                        <td class='tdItem' style='{{getBGStyle Mon}}'><div class='forpopovers' style='{{getFontStyle Mon}}'>{{#each Mon}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Tue}}'><div class='forpopovers' style='{{getFontStyle Tue}}'>{{#each Tue}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Wed}}'><div class='forpopovers' style='{{getFontStyle Wed}}'>{{#each Wed}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Thu}}'><div class='forpopovers' style='{{getFontStyle Thu}}'>{{#each Thu}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Fri}}'><div class='forpopovers' style='{{getFontStyle Fri}}'>{{#each Fri}}{{getName userId}}{{/each}}</div></td>
                        <td class='tdItem' style='{{getBGStyle Sat}}'><div class='forpopovers' style='{{getFontStyle Sat}}'>{{#each Sat}}{{getName userId}}{{/each}}</div></td>
                        {{/with}}
                        
                    </tr>
                    {{/restOfList}}
                  

                  {{/key_value}}                 
                </tbody>
                
              </table>
            <!--</div>
          </div>-->
</template>
<!-- Add peeps -->
<template name="peopleToAdd">
    <div class="well" style="top:50px;">
      <ul class="nav nav-tabs ">
        <li class="active ">
          <a href="#friends" data-toggle="tab">Friends</a> 
        </li>
        <li>
          <a href="#groups" data-toggle="tab">Groups</a> 
        </li>
      </ul>
        <input class="input-small input-block-level" id="query" type="text"> 
      <div class="tab-content">
        <div class="tab-pane active" id="friends">
        <ul class="thumbnails sidebar scrollable" style="padding-right:10px;">
          {{#each profilesRegistered}}
            {{> sideBarProfile}}
          {{/each}}
          {{#each profilesCityMates}}
            {{> sideBarCityMate}}
          {{/each}}
          <li class="clearfix span12 list-item">                
              <button class="btn btn-primary btn-large btn-block inviteFriends">Invite Friends</button>                
          </li>   
        </ul>      
        </div>
        <div class="tab-pane" id="groups">          
          <ul class="thumbnails sidebar scrollable" style="padding-right:10px;">   
          {{#each groups}}
            {{> sidebarGroups}}
          {{/each}}         
          <!-- <li class="clearfix span12 list-item">                
              <button class="btn btn-primary btn-large btn-block addGroup">Create a New Group</button>                
          </li>  -->         
          </ul>
        </div>    
      </div>
    </div>
</template>

<!-- current friends -->
<template name="peopleInSchedule">
  <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
            <div class="container" style="left: 0; position: absolute;"> <span style="float-left;">
          <ul class="nav">
              <li class="clear-all"><a href="#"><i class="icon-repeat"></i> Clear Other's Schedules</a>
            </li>
            <li class="help">
              <a href="#"><i class="icon-question-sign"></i> Help</a>
            </li>
<!--             <li>
              <a href="#">Next <i class="icon-chevron-right"></i></a>
            </li> -->
            </ul>
          </span>

                <div class="people-in-schedule">
                {{#each images}} 
                    {{> bottomNavImage}} 
                {{else}}
                    <div style="margin-top:10px;">Click on the names on the sidebar to compare your schedule with theirs</div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>
<!-- Bottom Nav -->
<template name="bottomNavImage">
  <a href="#" rel="tooltip" title="{{title}}" data-id="{{id}}"><img src="{{src}}" class="profile-bottom"></a>
</template>
<template name="sideBarProfile">
  <li class="clearfix span12 list-item">
                <div class="thumbnail clearfix ">
                  <img src="{{src}}" alt="{{name}}" class="pull-left clearfix " style="margin-right:10px;" data-id="{{id}}">
                  <div class="caption">  
                  {{#unless inFriends}}      
                    <a href="# " class="isUser">Compare with {{name}}</a> <br />
                  {{/unless}}               
                    <a href="/schedule/{{id}}" class="seeSchedule">See {{name}}'s schedule</a>
                    
                    

                  </div>
                </div>
              </li>
</template>
<template name="sideBarCityMate">
  <li class="clearfix span12 list-item">
                <div class="thumbnail clearfix ">
                  <img src="{{src}}" alt="{{name}}" class="pull-left clearfix " style="margin-right:10px;" data-id="{{id}}">
                  <div class="caption">                    
                   <span class="isntUser">Ask for {{name}}'s schedule</span> 

                  </div>
                </div>
              </li>  
</template>
<template name="sidebarGroups">
  <li class="clearfix span12 list-item">
                <div class="thumbnail clearfix">                  
                  <div class="caption" data-id="{{gid}}">                    
                    <a href="#" class="inviteGroup">Invite {{name}}</a> <br />       
                    <a href="#" class="seeGroupSchedule">Schedule of {{name}}</a>       
                  </div>
                </div>
              </li>
</template>
<template name="newSched">
     <div class="fixedArea">
         <div class="row-fluid">
           <div class="span2">
             <div class="fixedColumn" style="float: left;">
            <div class="fixedHead time">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="width:100%;" colspan="2">Time</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="overflow: hidden; border-collapse: collapse; padding: 0px;" class="fixedTable">
                <table class="time">
                    <tbody>                      
                      {{#each AM}}
                        <tr>
                          <td rowspan="6" class="AM hour">{{.}}</td>
                          <td rowspan="3" class="AM interval">00</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                           <td rowspan="3" class="AM interval">30</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                      {{/each}}
                      {{#each PM}}
                        <tr>
                          <td rowspan="6" class="PM hour">{{.}}</td>
                          <td rowspan="3" class="PM interval">00</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                           <td rowspan="3" class="PM interval">30</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                      {{/each}}
                      <tr class="hide">
                        <td></td>
                      </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
           </div>
           <div class="span10" style="margin-left:0;">
             <div style="float: left; width: 100%" class="fixedContainer">
            <div style="overflow: hidden;" class="fixedHead">
                <table style="width:800px;">
                    <tbody>
                      <tr>  
                      {{#each daylist}}
                        
                            <td class="dayHeader">{{.}}</td>
                        
                       {{/each}}
                       </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="fixedTable">
                <table style="width:800px;">
                    <tbody>     
                      {{#if onePerson}}
                      {{#each schedules.peeps}}
                        <tr>
                            {{#with people}}
                                {{#with Mon}}
                                  {{> singleUserCell}}
                                {{/with}}
                                {{#with Tue}}
                                  {{> singleUserCell}}
                                {{/with}}
                                {{#with Wed}}
                                  {{> singleUserCell}}
                                {{/with}}
                                {{#with Thu}}
                                  {{> singleUserCell}}
                                {{/with}}
                                {{#with Fri}}
                                  {{> singleUserCell}}
                                {{/with}}
                                {{#with Sat}}
                                  {{> singleUserCell}}
                                {{/with}}
                            {{/with}}
                        </tr>
                      {{/each}}
                      {{else}}
                      {{#each schedules.peeps}}
                        <tr>
                            {{#with people}}
                                {{#with Mon}}
                                  {{> multiUserCell}}
                                {{/with}}
                                {{#with Tue}}
                                  {{> multiUserCell}}
                                {{/with}}
                                {{#with Wed}}
                                  {{> multiUserCell}}
                                {{/with}}
                                {{#with Thu}}
                                  {{> multiUserCell}}
                                {{/with}}
                                {{#with Fri}}
                                  {{> multiUserCell}}
                                {{/with}}
                                {{#with Sat}}
                                  {{> multiUserCell}}
                                {{/with}}
                            {{/with}}
                        </tr>
                      {{/each}}
                      {{/if}}          
                      
                    </tbody>
                </table>
            </div>
        </div>
           </div>
         </div>
    </div>
</template>
<template name="multiUserCell">
  {{#if span}}
  <td class='tdItem{{#if enormous}} enormous{{/if}}' style='{{getBGStyle profiles}}' rowspan="{{span}}" data-day="{{day}}">
    <div class="content hide" data-celltime={{time}}>
      {{#each profiles}}{{getImage userId}}{{/each}}
    </div>
    <div class="image-details" >      
    </div>
    <div class='forpopovers'>            
    </div>
  </td>  
  {{/if}}
</template>
<template name="singleUserCell">
  {{#if spannable}}
    {{#if span}}
       <td class='tdItem{{#if enormous}} enormous{{/if}}' style='{{getBGStyle profiles}}' rowspan="{{span}}" data-day="{{day}}">
      <div class="content hide" data-celltime={{time}}>      
      </div>
      {{#each profiles}}
      <div class="details {{#if smallSpan ../span}}med{{else}}big{{/if}}" {{#if course}} data-title="{{course}}" data-content="{{section}}" {{/if}} data-celltime="{{time}}">
    {{truncate course 8}}
      {{/each}}      
      </div>
      <div class='forpopovers'>
      </div>
      
    </td>
    
    {{/if}}
  {{else}}
    <td class='tdItem' style='{{getBGStyle profiles}}{{getFontStyle profiles}}' data-day="{{day}}">
      <div class="content hide" data-celltime={{time}}>      
      </div>
      {{#each profiles}}
      <div class="details" {{#if course}} data-title="{{course}}" data-content="{{section}}"{{/if}} data-celltime="{{time}}">
    {{truncate course 16}}
      {{/each}}      
      </div>
      <div class='forpopovers'>
      </div>
      
    </td>
  {{/if}}
</template>
<template name="friendSchedule">
  <div class="container-fluid" style="padding-top:40px;">
      <div class="row-fluid">        
        <div class="span8 " style="margin-bottom:40px;" id="sched">
          <h1>{{name}}'s Schedule</h1>          
          {{> newSched}}
        </div>
        <div class="span4 scrollable">
          {{> peopleToAdd}}
          
        </div>
        
      </div>
    </div>
</template>
<template name="modals">
  <div id="addEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> AddEventModal}}
  </div>  
  <div id="editEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> EditEventModal}}
  </div>
</template>
<template name="AddEventModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>    
    <h3>Create a New Event</h3>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      
        {{timesFormat times}}
      
    </div>
    <div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <form>
                <input type="text" placeholder="{{#if isComparing}}Event{{else}}Class{{/if}}" class="inputEvent">
                <input type="text" placeholder="Location" class="inputLocation">
                <!-- {{#if isComparing}}
                <label class="radio">
                    <input type="radio" name="type" value="Meeting"><i class="icon-briefcase"></i>Meet up</label>
                <label class="radio">
                    <input type="radio" name="type" value="Hangout"> <i class="icon-glass"></i>Hang Out</label>
                {{/if}} -->
            </form>
        </div>
        {{#if isComparing}}
        <div class="span5 offset1">
            <form>
                <textarea class="inputMessage" placeholder="Description." style="width:100%;height:120px;"></textarea>
            </form>
        </div>
        {{/if}}
    </div>
</div>
  </div>
  <div class="modal-footer">
    <button class="btn help pull-left"><i class="icon-question-sign"></i> Help</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary addEvent">Create Event</button>
  </div>
</template>
<template name="importer">
  <div class="container-fluid" style="padding-top:40px;">
    <div class="row-fluid">
      <div class="span10 offset1">
        <h1>Import Your Schedule From Your School Website</h1>
        <h3>De La Salle University</h3>
        <p>
        Hey DLSU, here's a little gift from FindTime on your new term! 
        Instantly important your schedule on FindTime in 2 easy steps! 
        </p>
        <p>1. Input your User ID and Password for your <a href="https://my.dlsu.edu.ph">https://my.dlsu.edu.ph account</a>.
        </p>
        <p>
        2. Your schedule for this semester will be imported onto FindTime.
        </p>

        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="dlsuId">User ID</label>
            <div class="controls">
              <input type="text" id="dlsuId" placeholder="User ID">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="dlsuPass">Password</label>
            <div class="controls">
              <input type="password" id="dlsuPass" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class='btn-success btn import-dlsu'>Import</button>

            </div>
          </div>
        </form>
         <p>
         FindTime assures you that your information will be kept secure and private. 
        </p>
        <p>
        For other Universities, stay tuned! We're working on importers for you guys as well!
        </p>
      </div>
    </div>
  </div>
</template>
<template name="EditEventModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>    
    <h2>Edit Event</h2>
  </div>
  <div class="modal-body">    
    <div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 editTimeContainer">
          
        </div>
        <div class="span6">
            <form>
                <input type="text" placeholder="Class" class="inputEvent">
                <input type="text" placeholder="Location" class="inputLocation">
                <!-- {{#if isComparing}}
                <label class="radio">
                    <input type="radio" name="type" value="Meeting"><i class="icon-briefcase"></i>Meet up</label>
                <label class="radio">
                    <input type="radio" name="type" value="Hangout"> <i class="icon-glass"></i>Hang Out</label>
                {{/if}} -->
            </form>
        </div>
        
    </div>
</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary addEvent">Save</button>
  </div>
</template>